version: '3.9'
services:
  backend:
    build: .
    container_name: notes_app_backend
    command: 
      bash -c "sleep 10
      && python manage.py makemigrations
      && python manage.py migrate 
      && python manage.py runserver localhost:8000"
    volumes:
      - .:/code
    env_file:
      - ./.env
    ports:
      - "8000:8000"
    depends_on:
      - db
  db:
    image: postgres:13
    container_name: notes_app_db
    volumes:
      - db_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_HOST=localhost
      - POSTGRES_DB=notes_app_db
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    ports:
      - "5432:5432"
      
volumes: 
    db_data:
